<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Order</title>
</head>
<body>
<p th:text="${pizzaOrder.customerName} + ' orders:'"></p>
<div th:each="pizza : ${pizzas}">
  <a th:href="@{/food/{name}(name=${pizza.name})}"
  th:text="${pizza.name}">pizza</a>
</div>
<div th:each="drink : ${drinks}">
  <p th:text="${drink.name}">drink</p>
</div>
<a th:href="@{/pizza_order/{id}/foods/newFood(id=${pizzaOrder.id})}">Add food</a>
</body>
</html>