<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New pizza</title>
</head>
<body>
    <form method="POST" th:action="@{/pizza_order/{id}/foods(id=${id})}" th:object="${pizza}">
        <h1>Designate your pizza:</h1>
        <div th:each="ingredient : ${allIngredients}">
            <input th:field="*{ingredients}" type="checkbox"
                   th:value="${ingredient.name}"/>
            <label th:for="${#ids.prev('ingredients')}" th:text="${ingredient.name}">ingredient</label>
        </div>
        <h1>Name your pizza creation:</h1>
        <input type="text" th:field="*{name}"/>

        <h1>Size your pizza:</h1>
        <input type="text" th:field="*{size}"/>

        <br/>
        <button>Submit</button>
    </form>
</body>
</html>